body{
   
    background:  url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Bob-Marley.jpg/440px-Bob-Marley.jpg") no-repeat fixed center; 
    background-size: cover;
     background-color: rgba(255, 255, 255, 0.7);
   background-blend-mode: lighten;
    position: center;
  
}

  #BobMarley{
    background:#8fbc8f; 
  }
  #BobMarley{
    color:crimson;
  }

  #EarlyLifeAndCareer{
    background-color: crimson;
    background-size: cover;
    background-blend-mode: lighten;
    position: center;
  }
  #EarlyLifeAndCareer{
    color:teal
  }

  #p1{
    background-color:teal 
  }
  #p1{
    color:#8fbc8f
  }

  #MusicalCareer{
    background-color: crimson;
    background-size: cover;
    background-blend-mode: lighten;
    position: center;
  }
  #MusicalCareer{
    color:teal
  }

  #p2{
    background-color:teal 
  }
  #p2{
    color:#8fbc8f
  }

#IllnessAndDeath{
  background-color: crimson;
  background-size: cover;
  background-blend-mode: lighten;
  position: center;
  }
  #IllnessAndDeath{
    color:#8fbc8f
  }

  #p3{
    background-color:teal 
  }
  #p3{
    color:#8fbc8f
  }

  #Form{
    background-color:#8fbc8f
  }



  








  